* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37%;
  height: 46vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 14px;
  outline: none;
}
.admin-logo img {
  width: 100px;
  height: 100px;
  margin-top: 0;
}
.admin {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-heading {
  margin-top: -5px;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
.admin-form {
  margin-top: 10px;
}
.admin-form {
  position: relative;
}
.admin-user label {
  position: absolute;
  background: white;
  top: -14px;
  left: 65px;
}

.admin-pass {
  margin-top: 20px;
}
.admin-pass label {
  position: absolute;
  background: white;
  top: 44px;
  left: 65px;
}
.adminButton {
  margin-top: 10px;
}
.sidebar {
  height: 100vh;
  background: rgb(68, 10, 10);
  position: relative;
  width: 16.66666667%;
}
.sidebar-heading {
  background: rgb(68, 10, 10);
  height: 84px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 5px solid white;
  color: white;
  text-transform: uppercase;
}
.view-products {
  height: 59px;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.view-reviews {
  height: 59px;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.view-settings {
  height: 59px;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.view-orders {
  height: 59px;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.view-category {
  height: 59px;
  border-bottom: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.md {
  position: absolute;
  top: 25px;
}

/* admin home edit */
.admin-home {
  background-color: rgb(251, 249, 249);
  height: 100vh;
}

.admin-home-heading {
  display: flex;
  justify-content: flex-start;
}
.admin-home-heading h4 {
  text-transform: capitalize;
  margin-top: 25px;
  margin-left: 25px;
  color: black;
  font-family: "Poppins", serif;

  font-style: normal;
}
.hrline {
  color: black;
  height: 30px;
}
.dashbord-home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
}

.dashbord-home .row {
  --mdb-gutter-x: 0.8rem !important;
  width: 100%;
}
.admn-sub-log {
  width: 60%;
  height: 70vh;
  /* background-color: rgb(68, 10, 10); */
  border-radius: 10px;
  border: none;
  outline: none;
  /* border :1px solid black */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  display: flex;
}
.admn-sub-left {
  width: 50%;
  height: 100%;
  padding: 10px;
  border-right: 2px solid rgb(149, 141, 141);
}
.log-img-admn {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
.admn-heading h3 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black;
  font-size: 20px;
}
.admn-sub-right {
  padding: 50px;
}

.content {
  width: 74px;
  height: 3px;
  background-color: rgb(68, 10, 10);
  border-radius: 20px;
  margin-bottom: 5px;
  /* margin-left: 5px; */
}
.admn-sub-right {
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.admn-sub-form {
  margin-top: 30px;
  /* padding: 18px; */
}
.admn-inp input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  background: none;
  outline: none;
}
.admn-inp input:focus {
  box-shadow: none;
}
.admn-log-btn {
  border: none;
  outline: none;
  padding: 5px;
  background-color: rgb(118, 241, 118);
  color: white;
  text-transform: capitalize;
  font-family: poppins, serif;
  font-weight: 500;
  height: 50px;
  border-radius: 20px;
  font-size: 17px;
  background: linear-gradient(0.25turn, rgb(68, 10, 10) 10%, black);
  letter-spacing: 7px;
  transition: 0.8s;
}
.terms {
  width: 100%;
  font-size: 12px;
  color: #00000066;
  font-family: math;
}
.admn-log-btn:hover {
  transform: scale(1.1);
}
.dashboard-heading h2 {
  color: #15154a;
  text-transform: uppercase;
  font-family: poppins, serif;
  font-weight: 600;
}
.dashboard-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-dashboards {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.total-products-card {
  text-transform: capitalize;
  font-family: poppins, serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.total-products-count h2 {
  text-transform: capitalize;
  font-family: poppins, serif;
  font-weight: 400;
  font-size: 17px;
  color: black;
}
.total-users {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 245px;
  height: 240px;
  border-radius: 5px;
}
.total-users h4 {
  text-transform: uppercase;
  font-family: poppins, serif;
  font-weight: 600;
  font-size: 20px;
  color: #15154a;
}
.total-users h5 {
  text-transform: capitalize;
  font-family: poppins, serif;
  font-weight: 600;
  font-size: 20px;
}
.blank {
  background: rgb(143, 143, 145);
  background: linear-gradient(
    107deg,
    rgba(143, 143, 145, 1) 0%,
    rgba(227, 18, 18, 0.9663515064228817) 47%,
    rgba(236, 14, 85, 0.4033262963388481) 100%,
    rgba(138, 158, 194, 1) 100%,
    rgba(250, 250, 250, 1) 100%
  );
  width:100px;
  height:3px;
  border-radius: 10px;
}
