@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.ProductsSection-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
  color: black;
  margin-top: 10px;
}
form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}
.product-name-input {
  border: 2px solid black;
  border-radius: 4px;
  width: 500px;
}
.product-price-input {
  border: 2px solid black;
  border-radius: 4px;
  width: 500px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#formFile {
  border: 2px solid black;
  border-radius: 4px;
  background-color: black;
}
.btn-primary {
  --mdb-btn-bg: black !important;
}
.cat-btn {
  background-color: white;
  border: none;
  outline: none;
}
.cat-btn:hover {
  background-color: #eee;
}
.products-area {
  padding: 40px;
  background-color: rgb(249, 231, 226);
  border: none;
  outline: none;
  border-radius: 10px;
}
.heading-products {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.MdModeEditOutline {
  padding: 10px;
  background-color: rgb(11, 11, 185);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
}
.MdDelete {
  padding: 10px;
  background-color: rgb(167, 8, 8);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 7px;
}
.td-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.IoMdAdd {
  font-size: 20px;
}
.addproduct {
  background-color: rgb(68, 10, 10);
}

.addproduct:hover {
  background-color: rgb(
    68,
    10,
    10
  ); /* You can change this to a different color if needed */
}
.top-sidebar {
  height: 50vh;
}
.prorductsHeading h1 {
  color: #15154a;
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}
.prorductsHeading button {
  background-color: #15154a;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  width: 178px;
}
.newproduct-heading {
  color: rgb(68, 10, 10);
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.FaCheck {
  font-size: 26px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.mainFaCheck {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 100px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  color: rgb(68, 10, 10);
  margin-top: 33px;
}

.products-main-section {
  margin-left: -1px;
}
.upadate-heading-section {
  color: rgb(68, 10, 10);
  height: 56px;
  border: none;
  border-radius: 10px;
}
.GiExitDoor {
  margin-right: 20px;
}
.update-heading {
  margin-left: 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 500;
  color: #15154a;
}

.GiExitDoor span {
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 500;
  color: #15154a;
}
.GiExit {
  margin-top: -5px;
  margin-left: 4px;
}
.update-form-section {
  width: 85%;

  background-color: rgb(248, 247, 245);
  margin-top: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
.row {
  margin-right: 0;
}
.update-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.right-side-form mb-3 {
  margin-right: 40px;
}
.update-name {
  color: rgb(68, 10, 10);
}
.update-price {
  color: rgb(68, 10, 10);
}
.update-form input {
  height: 50px;
  border: none;
}
.stock-update {
  color: rgb(68, 10, 10);
}
.update-discount {
  color: rgb(68, 10, 10);
}
.p-dropdown-items {
  padding-left: 9px !important;
}

.p-placeholder {
  margin-top: 10px;
  color: rgb(68, 10, 10);
}
/* 
.p-inputtext {
  margin-top: 10px;
  color: rgb(68, 10, 10);
} */
.top {
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.update-btn {
  padding: 8px;
  border: none;
  width: 119px;
  border-radius: 10px;
  background-color: rgb(68, 10, 10);
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.update-description {
  height: 100px !important;
}
.addmore-update-page-btn button {
  border: none;
  outline: none;
  background: rgb(68, 10, 10);
  color: white;
  padding: 5px;
  width: 100px;
  font-weight: 100;
  border-radius: 7px;
}
.second-sidebar-back {
  background: #15154a;

  color: white;
}
.second-sidebar-back h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.side-link {
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  padding-inline: 30px;
  gap: 10px;
}

.side-link h5 {
  margin-bottom: 0 !important;
  font-size: 16px;
}

.side-home:hover {
  transform: scale(1.01);
}
.side-dashbord:hover {
  transform: scale(1.01);
}
.side-reviews:hover {
  transform: scale(1.01);
}
.side-earnings:hover {
  transform: scale(1.01);
}

.side-product:hover {
  transform: scale(1.01);
}
.side-Logout:hover {
  transform: scale(1.01);
}
/* 
.side-dashbord {
  cursor: pointer;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-reviews {
  cursor: pointer;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-earnings {
  cursor: pointer;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-product {
  cursor: pointer;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-Logout {
  cursor: pointer;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.CgMail {
  font-size: 26px;
}
.CgMail-head {
  border: 1px solid black;
  border: 1px solid black;
  width: 44px;
  height: 44px;
  border-radius: 57px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.sidebar-logo img {
  width: 48%;
  height: 53px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.text-update {
  text-align: start !important;
}
.background-table {
  background-color: white;
}
.p-datatable-header {
  border: none !important;
  margin-bottom: 10px;
}
.coupen-icon {
  width: 16px;
  color: white !important;
  /* filter: invert(1); */
  object-fit: contain;
}
.update-form-section {
  background-color: #fafafa;
  width: 75%;
  box-shadow: none !important;
}
.name-updates-form {
  color: #15154a;
  font-family: "poppins";
  font-weight: 400;
}
.name-input-form {
  background-color: white !important;
  border: 1px solid #e6e6e6 !important;
  border-radius: 10px !important;
}
.upd-btn-product {
  background-color: #15154a;
  color: white;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.upd-image-sec {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 7px;
}
.more-files {
  background-color: #15154a;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 3px;
}
.more-files h5 {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
.file-for-input{
  color: #15154a !important;
  font-family: "poppins" !important;
  font-weight: 400 !important;
}
.Add-files{
  background-color: green;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 7px;
  font-family: "poppins" !important;
  font-weight: 400 !important;
}
.add-input-img{
  height: 39px;
}
.delete-btn-img{
  background-color: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 7px;
  font-family: "poppins" !important;
  font-weight: 300 !important;
  text-transform: capitalize;
  height: 33px;
}
.admin-home-class{
  box-shadow: none !important;
}
.update-image-first-get{
  width:50px;
  height: 50px;
}
.update-file{
  background-color: #15154a;
  color: white;
  font-family: "poppins" !important;
  padding:7px;
  border:none;
  outline: none;
  border-radius: 6px;
}
.update-product-images i{
  color: #15154a;
  font-size: 20px;
}
.update-product-images h3{
  color: #15154a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  padding: 0;


}
.viewimage-add--product{
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background-color: #15154a;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

}
