.add-product-heading-main {
  color: black;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.add-product-form-submit input {
  background-color: #fff;
  border: none;
  outline: none;
}
/* .add-product-form-submit label{
    background-color: #cec9c9;
} */
.add-product-form-submit label:focus {
  background-color: none !important;
}
.add-product-form-submit input:focus {
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
}

.add-product-top-bar {
  height: 43px;

  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background: rgb(68, 10, 10);
}
.add-product-add-more-btn {
  padding: 7px;
  border: none;
  outline: none;
  background: #15154a;
  color: white;
  border-radius: 0px;
  width: 100px;
  margin-bottom: 17px;
  text-transform: capitalize;
  height: 35px;
  font-size: 14px;
  font-weight: 100;
  border-radius: 4px;
}
.add-product-add-more-btn1 {
  padding: 7px;
  border: none;
  outline: none;
  background: red;
  color: white;
  border-radius: 0px;
  width: 100px;
  margin-bottom: 17px;
  text-transform: capitalize;
  height: 35px;
  font-size: 14px;
  font-weight: 100;
  border-radius: 4px;
}
#dropdown-basic {
  background-color: #15154a;
  color: white;
}
.add-product-bottom-bar {
  height: 43px;

  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background: rgb(68, 10, 10);
}
.add-products-btn-submit {
}

.add-products-btn-submit button {
  padding: 7px;
  border: none;
  outline: none;
  background: #15154a;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 5px;
}
.image-cover-input {
  /* width: 42% !important; */
}
.add-product-form-submit textarea {
  height: 100px;
}
.remove-input-image {
  width: 42% !important;
}
.product-details-heading h3 {
  color: black !important;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-weight: 600;
}
.c-padding {
  padding: 80px;
}
.table-heads th {
  background-color: #15154a !important;
  color: white !important;
}
.add-category-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.category-page-heading {
  text-transform: capitalize;

  font-weight: 600;
  color: #15154a;
  font-family: "Poppins", sans-serif;
}
.add-category-btn-cate {
  padding: 7px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  background: orange;
  color: white;
}
.header-of-modal-category {
  border: none !important;
}
.header-of-modal-category h5 {
  color: #15154a;
  text-transform: capitalize;

  font-weight: 600;

  font-family: "Poppins", sans-serif;
}
.body-of-modal-category {
  border: none;
}
.input-modal-catgory {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  outline: none;
  color: black;
  border-radius: 3px;
  margin-top: 1px;
}
.body-of-modal-category label {
  color: black;
  text-transform: capitalize;

  font-weight: 600;

  font-family: "Poppins", sans-serif;
}
.input-file-cat {
  background-color: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  outline: none !important;
  box-shadow: none !important;
}
.input-modal-catgory::placeholder {
  color: #9d9d9d;
}
.footer-of-modal-category {
  border: none;
}
.submit-category-btn {
  color: white !important;
  background-color: orange !important;
}
.delete-category-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  width: 70px;
  padding: 7px;
}
.update-category-btn {
  padding: 7px;
  border: none;
  outline: none;
  background: orange;
  color: white;
  border-radius: 5px;
  width: 70px;
}
.update-input-cat {
  background-color: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 7px;
}
.add-product-heading-section h1 {
  text-transform: capitalize;
  font-weight: 600;
  color: #15154a;
  font-family: "Poppins", sans-serif;
}
.add-product-2-name {
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  outline: none;
  color: black;
  border-radius: 3px;
  margin-top: 1px;
}
.add-product-2-name-label {
  color: #15154a;
}
.border-for-form {
  border: 2px solid#e6e6e6;
  border-radius: 10px;
}
.selector-category {
  background-color: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  outline: none;
  color: black;
  border-radius: 3px;
}
.description-text-area {
  background-color: #fafafa !important;
  border: 1px solid #e6e6e6 !important;
  outline: none;
  color: black;
  border-radius: 3px;
}
.orders-heading {
  color: #15154a;
  text-transform: capitalize;

  font-weight: 600;

  font-family: "Poppins", sans-serif;
}
.orders-found{
  color:#9d9d9d;

}
.date-div{
  background-color:#f6f6f6;
  width:120px;
  height:35px;
  flex-direction: row;
  border-radius: 5px;
}
.date-text{
  color: black;
}
.arrows-round{
  height:62px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15154a;
  font-size: 40px;
  cursor: pointer;
}
.red{
  /* background-color: orange !important;
  color:white !important; */
}
.yells{
  background: #000;
}
.search-field-product{
  border:1px solid #e6e6e6;
  outline:none;
  background-color: #fafafa;
  border-radius: 5px;
}
.input-upd{
  height:38px;
}
.task-icon{
  font-size: 40px;
  color: black;
}
.logo-top{
  width:100px;
  height:25px;
  object-fit: contain;
  
}

@media screen and (max-width: 600px) {
  .task-icon{
    display: flex;
  }
  .d-padding{
    padding-block:0px
  }
  .category-page-heading{
   font-size: 15px; 
  }
.add-category-btn-cate{
  padding: 3px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  background: orange;
  color: white;
  font-size: 12px;
}
.delete-category-btn {
  margin-top:1px;
  margin-left:0px !important;
}
}
@media screen and (min-width: 1440px)and (max-width:1800px){
.task-icon{
  display: none;
}
.delete-category-btn {
   margin-left:2px !important;
}
}