*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.userlogmain {
  height: 100vh;
  width: 100%;
  background: rgb(184, 213, 243);
  background: linear-gradient(
    107deg,
    rgba(184, 213, 243, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userlogimage {
  width: 135px;
  height: 40px;
}
.userlogimage img {
  object-fit: contain;
  width: 100%;
}
.userlogsub {
  height: 428px;
  background-color: white;
  width: 31%;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.userlogsub-right {
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}
.userlog-heading {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
  color: #154373;
}
.userlog-subheading {
  font-family: "Poppins", serif;
  font-weight: 400;
}
.hello-email{
  z-index: 2;
  position: absolute;
  bottom: 6px;
  right: 92px;
  font-size: 18px;
  color: #1654c3;
}
.bi-key-fill {
  z-index: 2;
  position: absolute;
  bottom: 6px;
  right: 92px;
  font-size: 18px;
  color: #1654c3;
}
.null-content{
  background: rgb(21, 67, 115);
  background: linear-gradient(
    107deg,
    rgba(21, 67, 115, 1) 0%,
    rgba(203, 216, 243, 1) 66%,
    rgba(225, 232, 246, 1) 100%,
    rgba(22, 84, 195, 1) 100%,
    rgba(250, 250, 250, 1) 100%
  );
  border-radius: 10px;
}
.userlog-forget-pass{
  width: 500px;
  color: black;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}
.email-input-userlog {
  width: 66%;
  height: 43px;
  border: none;
  outline: none;
  background-color: #e9eef7;
  border-radius: 10px;
  padding: 15px;
}
.email-input-userlog::placeholder {
  color: black;
  font-family: "Poppins", serif;
  text-transform: inherit;
  font-weight: 500;
}
.password-input-userlog {
  width: 66%;
  height: 43px;
  border: none;
  outline: none;
  background-color: #e9eef7;
  border-radius: 10px;
  padding: 15px;
}
.password-input-userlog::placeholder {
  color: black;
  font-family: "Poppins", serif;
  text-transform: inherit;
  font-weight: 500;
}
.user-form {
  display: flex;
  justify-content: center;
  margin-top: 43px;
}
.form-user {
  width: 100%;
  margin-top: 22px;
  align-items: stretch !important;
}
.usereamil {
  position: absolute;
  left: 52px;
  bottom: 36px;
}
.user-pass {
  position: absolute;
  left: 52px;
  bottom: 36px;
}
.user-log-btn {
  padding: 9px;
  width: 316px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  background: #154373;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.user-signup-main {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(68, 10, 10, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-signup-sub {
  background-color: white;
  width: 35%;
  height: 77vh;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.name-sign {
  height: 42px;
  margin-left: -17px;
  width: 75%;
  border: none;
  background: #42424252;
  border-radius: 5px;
  outline: none;
}
.name-sign:hover {
  border: none;
}
.userSign-main {
  background: rgb(68, 10, 10);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-sub {
  background-color: white;
  width: 60%;
  height: 500px;
  border-radius: 10px;
}
.heading-signup-user {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: bold;
}
.user-signup-btn {
  background: rgb(68, 10, 10);
  border: none;
  padding: 11px;
  width: 110px;
  outline: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
.Userdetails-sub {
  width: 50%;
  height: 49vh;
  background-color: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.userdetailsemail {
  line-height: 2.2rem !important;
}
.userdetailspass {
  line-height: 2.2rem !important;
}
.details-btn {
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 109px;
}
.Forget-Password-heading {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.forget-pass-sub {
  width: 270px;
  height: 270px;
  background-color: rgb(68, 10, 10);
  margin-left: auto;
  margin-right: auto;
  border-radius: 142px;
}
.FaLock {
  font-size: 148px;
  color: white;
  text-align: center;
}
.bg-Iamge {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.forget-input {
  width: 409px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  border-bottom: 1px solid-black;
  outline: none;
}
.forget-btn button {
  padding: 7px;
  border: none;
  outline: none;
  background: rgb(68, 10, 10);
  color: white;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.forget-btn {
  margin-top: 25px;
}
.forget-button:hover {
  background-color: white;
  color: black;
}
.verifyemail-image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  overflow: hidden;
  flex-direction: column;
}
.verify-email-input input {
  outline: none;
  width: 50px;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #fce4ec4d;
  border-radius: 3px;
  border-bottom: 4px solid rgb(68, 10, 10);
  text-align: center;
}
.verify-button button {
  cursor: pointer;
  padding: 7px;
  width: 140px;
  border: none;
  outline: none;
  background: rgb(68, 10, 10);
  color: white;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.verify-button button:hover {
  background-color: white;
  color: black;
  border: 3px solid rgb(68, 10, 10);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.new-pass {
  margin-left: auto;
  margin-right: auto;
}
.new-pass input {
  border-top: none;
  border-left: none;
  outline: none;
  border-right: none;
  border-bottom: 3px solid black;
  background: none;
}
.new-pass input:focus {
  box-shadow: none;
  border-bottom: 3px solid black;
}
.confirm-btn {
  margin-left: auto;
  margin-right: auto;
}
.confirm-btn button {
  padding: 8px;
  width: 132px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: rgb(68, 10, 10);
  color: white;
  cursor: pointer;
}
.user-signup-left-jpeg{
object-fit: cover;
width:100%;
height:100%;
}

.left-user-signup-side{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e9eef7;
}
.heading-left-user-signup{
  text-transform: capitalize;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
}
.left-sub-content-user-signup{
  color:white;
  text-transform: capitalize;
  font-family: "Poppins", serif;
  font-weight: 300;
  width: 47%;
  font-size: 16px;

}
.right-user-signup-side{
  background-color: #e1e8f6;
  height:100%;
  padding:65px;

}
.right-user-signup-heading{
  color: #154373;
  text-transform: capitalize;
  font-family: "Poppins", serif;
  font-weight: 600;
 
}
.username-user-signup-field{
  border:none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #8a9ec2;
}
.username-label{
  text-transform: capitalize;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.signup-page-sign-btn{
  width: 50%;
  border: none;
  outline: none;

  border-radius: 5px;
  background: rgb(21, 67, 115);
  padding: 9px;
  color: white;
  text-transform: capitalize;
}